@use './_variable' as *
@use './_mixin' as *


    
        
.card
    @include card($blue,$white)


.point
    display: flex
    justify-content: space-between
    align-items: center
// img
    
.commun
    .card
        // overflow: hidden
        display: flex
        flex-direction: column
        .card_head
            min-height: 30%
            z-index: 1
            border-radius: 20px 20px 0 0
            display: flex
            justify-content: flex-end
            img
                width: 4rem
            img:hover
                filter: brightness(1.1)
                cursor: pointer
        // class

        .rouge
            background-color: $red
        .orange
            background-color: $orange
        .jaune
            background-color: $jaune
        .cyan
            background-color: $cyan
        .violet
            background-color: $mauve
        .vert
            background-color: $vert

        .card_body
            margin-top: -10% 
            border-radius: 20px
            height: 80%
            background-color: $blue
            z-index: 2
            display: flex
            flex-direction: column
            justify-content: space-evenly
            padding: 1rem
            img:hover
                filter: brightness(1.2)
                cursor: pointer
            h4,h3,p
                margin: 0
            h4
                font-size: 2em
            h3
                font-size: 1em
        .card_body:hover
            background-color: $blue_bis
        
        
// class utiliser
// 'Play':'rouge','Work':'orange','Self Care':'jaune','Study':'cyan','Social':'violet','Exercise':'vert'

    
// dark
.dark-mode
    .titre
        .card:hover
            background-color: $pale_Blue !important