@use './_variable' as *

.titre
    .card
        justify-content: space-between

        .card_head
            background-color: $blue_ligh
            color: $white
            height: 70%
            border-radius: 20px
            margin-bottom: -1rem
            padding: 2rem
            justify-content: flex-start
            z-index: 2
            align-items: flex-start
            gap: 2rem
            display: flex
            flex-direction: column
            h1,p
                margin: 0
            img
                height: 30%
                border-radius:50%
                border: 3px $white solid
            h1
                font-size: 3rem
            
        
        .card_body
            height: 100%
            padding-top: 2rem
            z-index: 1
            // overflow: hidden
            border-radius: 0 0 20px 20px
        

    ul
        display: flex
        flex-direction: column
        gap: 1.8rem
        box-sizing: border-box
        margin: 0
        padding-bottom: 2rem
        li
            button:hover
                color:$pale_Blue !important
                cursor: pointer
        .active
            button
                color: $desaturated_blue

.dark_mode
    .titre
        .card:hover
            background-color: $pale_Blue !important
            .card_body:hover
                background-color: $blue_bis
                
.light_mode
    .titre
        p
            color: $desaturated_blue
        .card:hover
            .card_body:hover
                background-color: $aliceBlue_bis
