@media screen and ( max-width: 768px )
    section
        max-height: none
    .titre
        .card_head
            img
                height: 8rem !important
            >div
                align-self: center
                text-align: start
        text-align: center
        ul
            padding-top: 1rem
            padding-bottom: 1rem
            gap: 1rem
    section
        flex-direction: column
        height: fit-content
    