$blue_dark:hsl(226, 43%, 10%)
$blue_ligh:hsl(246, 80%, 60%)
$blue: hsl(235, 46%, 20%)
$blue_bis: hsl(235, 46%, 30%)
$desaturated_blue: hsl(235, 45%, 61%)
$pale_Blue: hsl(236, 100%, 87%)

$vert:hsl(145, 58%, 55%)
$mauve:hsl(264, 64%, 52%)
$jaune:hsl(43, 84%, 65%)
$orange:hsl(15, 100%, 70%)
$cyan:hsl(195, 74%, 62%)
$red:hsl(348, 100%, 68%)

$aliceBlue:#c8e3fb
$blackBis:rgb(65, 53, 53)

$white:rgb(255,255,255)
$dark:rgb(0,0,0)